.container {
    padding: 0 100px;
}

.title {
    font-size: 30px;
    border-bottom: 4px solid rgb(45, 186, 142);
    width: max-content;
}

.subTitle {
    font-size: 50px;
    color: rgb(45, 186, 142);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: whitesmoke;
    position: relative;
}

.media {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    overflow: hidden;
    transition: all 1s ease;
}

.service:hover .media {
    transform: scale(1.1);
}

.cat {
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
    letter-spacing: 5px;
    font-weight: 300;
    text-transform: uppercase;
}

.description {
    width: 70%;
    text-align: center;
    position: absolute;
    z-index: 999;
    background-color: rgba(45, 186, 141, 0.75);
    border-radius: 8px;
    padding: 20px;
    color: white;
    opacity: 0;
    transition: all 1s ease;
}

.service:hover .description {
    opacity: 1;
}